<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <link rel="shortcut icon" href="recursos/favicon.png" type="image/x-icon">
    <title>App Seguridad Ciudadana</title>
</head>
<body>
    <a href="index">
        <div class="container">
            <header class="row">
                <div class="col">
                        <h1 style="color: white;"> &#x1f5e3;&#xfe0f; App de seguridad ciudadana</h1>
                        <p  style="color: white;">Mapa colaborativo de reportes de seguridad en tiempo real en Bogotá</p>
                </div>
            </header>
        </div>                    
    </a>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                      <!-- <a class="navbar-brand" href="#map">Mapa Colaborativo</a> -->
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="registroUsuario">¡Regístrate!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contactarPorCorreo">Contáctanos</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="nosotros">Sobre Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active bg-primary" href="iniciosesion">INICIAR SESIÓN</a>
                            </li>  
                        </ul>
                        <!-- <form class="d-flex">
                          <input class="for m-control me-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->
                      </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" id="tablaIntegrantesEquipo">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <caption >Lista de integrantes del equipo - grupo 2 <br> <strong>Universidad Tecnológica de Pereira</strong> <br> Misión TIC 2022</caption>
                        <thead>
                            <tr class="table-dark text-center">
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th>GitHub</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>Angi C Pardo</td>
                                <td>Desarrolladora Front End</td>
                                <td><a href="https://github.com/AngiPardo">Ver</a></td>
                            </tr>
                            <tr class="text-center">
                                <td>José M Briñez</td>
                                <td>Desarrollador Back End</td>
                                <td><a href="https://github.com/Josand8">Ver</a></td>
                            </tr>
                            <tr class="text-center">
                                <td>Lina M Briñez</td>
                                <td>Tester</td>
                                <td><a href="https://github.com/Soylina">Ver</a></td>
                            </tr>
                            <tr class="text-center">
                                <td>Claudio Castellanos</td>
                                <td>Gestor del Proyecto</td>
                                <td><a href="https://github.com/SiRValcrist">Ver</a></td>
                            </tr>
                            <tr class="text-center">
                                <td>Manuel S Aguilar</td>
                                <td>Gestor Base de Datos</td>
                                <td><a href="https://github.com/Gobzyro">Ver</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <!-- <script src="js/llamadoInicialDatos.js"></script> -->
    <script src="registro.js"></script>
    <script src="inicioSesion.js"></script>
    <script src="contactar.js"></script>
</body>
</html>